{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            Уверены что хотите удалить пользователя {{ object.get_full_name }} ({{ object.username }})?
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger">Удалить</button>
                <a href="{% url 'adminapp:user_read' %}" class="btn btn-info">Отмена</a>
            </form>
        </div>
    </div>

{% endblock %}